.card-type {
  display: inline-block;
  /* default color */
  background-color: #000;
  width: 90px;
  border-radius: 7px;
  margin: 0 5px;
}

.card-text {
  margin: 0;
  padding: 5px;
  text-align: center;
  color: #fff;
}

.fire {
  background-color: #fd8900;
}

.grass {
  background-color: #83c27e;
}

.poison {
  background-color: #c27ebc;
}

.water {
  background-color: #051bd9;
}

.bug {
  background-color: #99b100;
}